@charset "ISO-8859-1";

#imageContainer{
	width: 500px; 
	margin: 20px auto; 
	padding: 15px 20px;
	border: 2px solid gray;
	width: 500px;
	height: 400x;
	background-color: slategray;
	border-radius: 10px;
}

#captionDiv{
	text-align: center;
}

#captionInput{
	margin-top: 10px;
    font-size: 15px;
}

#postToEdit{
	width: 400px;
	height: 300x;
	margin: 20px auto;
}

#updateBtn{
	width: 200px;
    border-radius: 10px;
    height: 30px;
    color: white;
    background-color: black;
    margin: 0px auto;
    display: block;
}