@charset "ISO-8859-1";


body{
	background: #edf7f5;
}

#brandName{
	text-align: center;
    font-size: 25px;
    display: block;
    font-weight: bold;
	/* border: 2px solid black; */
}

#welcomeHead{
	background-color: whitesmoke;
    color: black;
    padding: 2px 7px;
    border-radius: 10px;
	font-size: 17px;
}

#dashboardContainer{
	border: 1px solid black;
    border-radius: 10px;
	background: darkslategray;
    color: white;
    padding: 5px;
}


#dashboardOptionHome{
	text-decoration: none;
	margin: 5px 50px;
	font-size: 20px;
	color: white;
}
#dashboardOptionProfile{
	text-decoration: none;
	margin: 5px 50px;
	font-size: 20px;
	color: white;
}
#dashboardOptionLogout{
	text-decoration: none;
    float: right;
    padding: 2px 10px;
    right: 10px;
    border: 1px solid gray;
    color: whitesmoke;
    background-color: black;
}

#homePostProfilePic{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid white;
	background-color: white;
}

#homePostsContainer{
	width: 600px;
	margin: 15px auto;
	/* border: 1px solid gray; */
}


#imageContainer{
	border: 1px solid gray;
    margin: 40px auto;
    background-color: darkslategrey;
    padding: 15px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 10px 5px 15px 5px rgb(0 0 0 / 25%), 0 6px 20px 0 rgb(0 0 0 / 25%);
}

#userHandle{
    border-radius: 5px;
    background-color: black;
    color: whitesmoke;
    padding: 4px 8px;
    margin: 5px;
    font-size: 16px;
}

#homePostCaption{
	padding: 0px 0px;
    margin: 0px 0px -15px 5px;
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke;
}

#homePost{
	width: 500px;
	height: 400px;
	margin: 20px 0px;
}

#homePostActions{
	margin: -10px 0px 15px 0px;
	width: 500px;
	/* border: 1px solid #c6c4bb; */
}

#homePostAction{
    width: 30%;
    border: 1px solid black;
    text-align: center;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
}

/* #commentSection{
	border-radius: 10px;
    width: 470px;
} */

#commentBox{
    border-radius: 10px;
    margin: 5px 0px;
    background-color: #0b2e32;
    width: fit-content;
    padding: 5px 10px;
    color: white;
}

#editComment{
	color: orange;
	border-radius: 5px;
    border: 2px solid orange;
}

#deleteComment{
	color: red;
	border-radius: 5px;
    border: 2px solid red;
}

#commentorUsername{
	border: 1px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
    color: black;
    padding: 2px 15px;
    width: min-content;
    margin: -2px;
}

#commentString{
    font-size: 14px;
    padding: 5px 18px;
    border-radius: 10px;
    color: white;
    background-color: #1e1e1e;
}

#postCommentSection{
    border-radius: 10px;
    margin: 5px 2px;
    padding: 7px 10px;
    background-color: black;
}

#homePostComment{
	border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
}